<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="../../assets/images/activities">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas molestiae minus commodi harum explicabo ipsum, repudiandae magnam placeat ab animi architecto illo nostrum ullam sunt accusamus, rerum, maxime quod minima.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid, architecto cumque. Dolorem molestiae quia, dolorum eum veritatis quaerat. Itaque corporis repellat, vero accusamus illo quisquam odit officia mollitia libero ipsam.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim sunt nostrum, neque doloribus itaque ullam saepe minima, laboriosam corrupti quos suscipit modi impedit minus! Quas saepe maxime quam. Iste, nihil.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae mollitia enim consequuntur animi tenetur officia aliquam. Optio, fuga illum cumque quia aliquid fugiat, voluptates accusantium iure commodi, est officia architecto!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, non necessitatibus! Excepturi aliquam minima totam blanditiis quidem soluta asperiores earum, atque, autem, ex nesciunt ea labore. Magnam numquam repudiandae accusantium?</p>
</body>
</html>